{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Bootstrap demo</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col">
          <div class="block mb-3">
            <img src='{% static "/img/something.png" %}' alt="" style="width: 20em;">
            <div class="container">
              <a href="{% url 'main:task1' %}">
                <button type="button" class="btn btn-primary">Идз №1</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="block">
            <img src='{% static "/img/something.png" %}' alt="" style="width: 20em;">
            <a href="">
              <button type="button" class="btn btn-primary">Перейти куда-то</button>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="block">
            <img src='{% static "/img/something.png" %}' alt="" style="width: 20em;">
            <a href="">
              <button type="button" class="btn btn-primary">Перейти куда-то</button>
            </a>
          </div>
        </div>
      </div>  
    </div>
{% endblock %}