
{% block title %}
    <title>Идз №1</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-2 mt-5 pt-5">
          <ul style="list-style: none;">
            <li>
              <button type="button" class="btn btn-info">Инструкция по расчету начальных значений</button>
            </li>
            <li>
              <button type="button" class="btn btn-info mt-5">Таблица с какими-то там значениями</button>
            </li>
            <li>
              <button type="button" class="btn btn-info mt-5">Пример результата</button>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-12 col-lg-10">
          <div class="container mt-5">
              <div class="input-group">
                <span class="input-group-text">Реакция</span>
                <input type="text" aria-label="First name" class="form-control">
              </div>
              <p class="mt-5">Вещества: </p>

              <div class="input-group mt-5">
                <span class="input-group-text">Вещество 1</span>
                <p class="mx-1" style="display: inline;">Агрегатное состояние = </p>
                <div class="form-check form-check-inline ml-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">g</label>
                </div>
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">s</label>
                </div>
                <p class="mx-5" style="display: inline;">  a = </p>
                <input type="text" aria-label="First name" class="form-control">
                <p class="mx-5" style="display: inline;"> b =  </p>
                <input type="text" aria-label="First name" class="form-control">
                <p class="mx-5" style="display: inline;"> c =  </p>
                <input type="text" aria-label="First name" class="form-control">
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Ок</label>
                </div>
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Вос</label>
                </div>
              </div>
              <div class="input-group mt-5">
                <span class="input-group-text">Вещество 2</span>
                <p class="mx-1" style="display: inline;">Агрегатное состояние = </p>
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">g</label>
                </div>
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">s</label>
                </div>
                <p class="mx-5" style="display: inline;"> a = </p>
                <input type="text" aria-label="First name" class="form-control">
                <p class="mx-5" style="display: inline;"> b =  </p>
                <input type="text" aria-label="First name" class="form-control">
                <p class="mx-5" style="display: inline;"> c =  </p>
                <input type="text" aria-label="First name" class="form-control">
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Ок</label>
                </div>
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Вос</label>
                </div>
              </div>
              <div class="input-group mt-5">
                <span class="input-group-text">Вещество 3</span>
                <p class="mx-1" style="display: inline;">Агрегатное состояние =</p>
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">g</label>
                </div>
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">s</label>
                </div>
                <p class="mx-5" style="display: inline;"> a = </p>
                <input type="text" aria-label="First name" class="form-control">
                <p class="mx-5" style="display: inline;"> b =  </p>
                <input type="text" aria-label="First name" class="form-control">
                <p class="mx-5" style="display: inline;"> c =  </p>
                <input type="text" aria-label="First name" class="form-control">
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Ок</label>
                </div>
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Вос</label>
                </div>
              </div>
              <div class="input-group mt-5">
                <span class="input-group-text">Вещество 4</span>
                <p class="mx-1" style="display: inline;">Агрегатное состояние = </p>
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">g</label>
                </div>
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">s</label>
                </div>
                <p class="mx-5" style="display: inline;"> a = </p>
                <input type="text" aria-label="First name" class="form-control">
                <p class="mx-5" style="display: inline;"> b =  </p>
                <input type="text" aria-label="First name" class="form-control">
                <p class="mx-5" style="display: inline;"> c =  </p>
                <input type="text" aria-label="First name" class="form-control">
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Ок</label>
                </div>
                <div class="form-check form-check-inline mx-3">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">Вос</label>
                </div>
              </div>
              <div class="input-group mt-5">
                <span class="input-group-text">Темпреатура и давление</span>
                <p class="mx-5" style="display: inline;">Т1, K = </p>
                <input type="text" aria-label="First name" class="form-control">
                <p class="mx-5" style="display: inline;"> T2, K = </p>
                <input type="text" aria-label="First name" class="form-control">
                <p class="mx-5" style="display: inline;"> T3, K =  </p>
                <input type="text" aria-label="First name" class="form-control">
                <p class="mx-5" style="display: inline;"> P, атм =  </p>
                <input type="text" aria-label="First name" class="form-control">
              </div>
            </div>  
          <button type="button" class="btn btn-primary mt-5 mb-5  ">Рассчитать</button>
        </div>   
      </div>
    </div>  
{% endblock %}