{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Задача 5.2</title>
{% endblock %}

{% block style %}
  <link href='{% static "css/task1.css" %}' rel="stylesheet" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 10em;">
      <form action="{% url 'main:task2' %}" method="post">
        {% csrf_token %}
        <p class="text">Подобрать площадь сечения нулевого провода, удовлетворяющая условию
            срабатывания максимальной токовой защиты, распределительного щитка лаборатории, к
            которому подведена линия (длиной l = {{ form.length }}) от понижающего трансформатора с 10 кВ до
            0,4 кВ, мощностью {{ form.power }} кВ·А, соединение обмоток {{ form.scheme }}. Параметры «фазы» -- напряжение
            {{ form.phase_voltage }} В, площадь сечения провода из {{ form.phase_material }} {{ form.phase_square }} мм2. Расстояние между проводниками линии –
            {{ form.distance_between_conductors }} м. Параметры устройства защиты – тип {{ form.type_electro }}, номинальный ток Iном = {{ form.amperage_nominal }} А.
        </p>
        <div class="container text-center" style="margin-top: 3em;">
          <button type="submit" class="btn btn-primary">Рассчитать</button>
        </div>
      </form>
    </div>
{% endblock %}