{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Авторизация</title>
{% endblock %}

{% block content %}
    <div class="container mt-5 p-5">
      <h1 style="text-align: center;" class="mt-5">Авторизация</h1>
      <div class="input-group mt-5">
        <span class="input-group-text" id="basic-addon1">Почта</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mt-5">
        <span class="input-group-text" id="basic-addon1">Пароль</span>
        <input type="password" class="form-control" placeholder="password" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <button type="button" class="btn btn-success mt-5" style="text-align: center;">Войти</button>
    </div>
{% endblock %}