{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Регистрация</title>
{% endblock %}


{% block content %}
    <div class="container mt-5 p-5">
        <h1 style="text-align: center;" class="mt-5">Регистрация</h1>
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                 style="margin-top: 50px;">
                {{ form.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <form action="{% url 'users:registration' %}" method="post">
            {% csrf_token %}
            <div class="input-group mt-5">
              <span class="input-group-text">Имя и фамилия</span>
              {{ form.first_name }}
              {{ form.last_name }}
            </div>
            <div class="input-group mt-5">
              <span class="input-group-text">Группа</span>
                {{ form.group }}
            </div>
          <div class="input-group mt-5">
              <span class="input-group-text">Почта</span>
              {{ form.email }}
            </div>
            <div class="input-group mt-5">
              <span class="input-group-text">Имя пользователя</span>
              {{ form.username }}
            </div>
          <div class="input-group mt-5">
              <span class="input-group-text">Пароль / Потверждения пароля</span>
              {{ form.password1 }}
              {{ form.password2 }}
            </div>
            <div class="container-fluid" style="text-align:center;">
                  <button type="submit" class="btn btn-success mt-5">Зарегистрироваться</button>
              </div>
         </form>
    </div>
{% endblock %}